@{
    Layout = null;
}

@if (Request.IsAuthenticated) {
         
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new{ id="logoutForm", @class = "nav navbar-form navbar-right" }))
         {
                    @Html.AntiForgeryToken()
         }    
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/manage" class="username" title="Manage">@Html.Raw(User.Identity.Name)</a></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
} else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="#/Login">Log In</a></li>
    </ul>
}
