@{
    Layout = null;
}

<div class="sessionItem">
    <header>
        <h4>{{session.Name}}
            <br/>
            <small>{{sessionC | date:'medium'}}</small>
        </h4>
        
    </header>
    <div class="form-group">
        <button ng-click="vm.likeSession()"  ng-class="{btn: true, disabled: !vm.canLike}">Like</button>
        <a href="#/sessionDetail/{{session.Id}}" ng-class="{btn: true}">Details</a>
    </div>
    <article>
    <header>
        <h6>Liked By...</h6>    
    </header>
    <ul>
        <li class="list-unstyled" ng-repeat="userInfo in session.LikedByUsers">{{userInfo.Username}}</li>
    </ul> 
    </article>
    <span ng-show="!session">No session data passed</span>
</div>