@{
    ViewBag.Title = "SessionDetail";
    Layout = null;
}

<div  class="sessionItem">
    <header>
        <h2>{{vm.session.Name}}</h2>
    </header>
    <div>
        <h4>Date</h4>
        <small>{{vm.session.SessionDateTime | date:'short'}}</small>
    </div>
    <div>
        <h4>Speaker</h4>
        <small>{{vm.session.SpeakerName}}</small>
    </div>
    <div>
        <h4>Description</h4>
        <small>{{vm.session.Description}}</small>
    </div>
    <div>
        <h4>Comments</h4>
        
        <div ng-controller="commentController">
            <hr/>
            <div ng-repeat="comment in vm.comments">
                <div commentitem comment="comment" nodeid="$parent.$parent.vm.session.Id"></div>
            </div>
            <button class="btn" ng-click="vm.addComment()">Add Comment</button>
        </div>
    </div>
</div>
